@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* Font Variables */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: 'Quicksand', sans-serif;

  /* Background color */
  --bg-primary: #0D3972;
  --bg-secondary: #225985;
  --bg-white: #fff;
  --bg-black: #121212;
  --bg-light-white:#fcfcfc;
  --bg-light-2: #f2f7fa;

  /* Text Color Variables */
  --text-primary: #0D3972;
  --text-secondary: #225985;
  --text-white: #fff;
  --text-light-white: #e5eaf5;
  --text-black: #121212;
  --text-black-2: #23272a;
  --text-light: #798089;
  --text-light-2: #5e5e72;
  --text-light-3: #A0A0A0; 
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background-color: var(--bg-white);
  color: var(--text-black);
  overflow-x: hidden;
  padding-top: 70px;
}

/*****************************************************************
 $$$$$$\                        $$\     $$\                     
$$  __$$\                       $$ |    \__|                    
$$ /  \__| $$$$$$\   $$$$$$$\ $$$$$$\   $$\  $$$$$$\  $$$$$$$\  
\$$$$$$\  $$  __$$\ $$  _____|\_$$  _|  $$ |$$  __$$\ $$  __$$\ 
 \____$$\ $$$$$$$$ |$$ /        $$ |    $$ |$$ /  $$ |$$ |  $$ |
$$\   $$ |$$   ____|$$ |        $$ |$$\ $$ |$$ |  $$ |$$ |  $$ |
\$$$$$$  |\$$$$$$$\ \$$$$$$$\   \$$$$  |$$ |\$$$$$$  |$$ |  $$ |
 \______/  \_______| \_______|   \____/ \__| \______/ \__|  \__|
                                                                                            
Description: Section CSS
*****************************************************************/
.section-wrapper {
  padding: 80px 0 50px;
}

.section-wrapper-with-bg {
  background: var(--bg-light-2);
  padding: 80px 0 50px;
}

section .title {
  margin-bottom: 120px;
}

section .title h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  line-height: 1.25px;
  margin-bottom: 40px;
  color: var(--text-primary);
  position: relative;
}

section .title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 6rem;
  height: 5px;
  background: var(--text-secondary);
  top: 40px;
  left: calc(50% - 3rem);
}

/*****************************************************************
 $$$$$$\                            $$\ 
$$  __$$\                           $$ |
$$ /  \__| $$$$$$\   $$$$$$\   $$$$$$$ |
$$ |       \____$$\ $$  __$$\ $$  __$$ |
$$ |       $$$$$$$ |$$ |  \__|$$ /  $$ |
$$ |  $$\ $$  __$$ |$$ |      $$ |  $$ |
\$$$$$$  |\$$$$$$$ |$$ |      \$$$$$$$ |
 \______/  \_______|\__|       \_______|
                                        
Description: Card CSS
*****************************************************************/
.card{
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/***************************************
$$$$$$$\    $$\               
$$  __$$\   $$ |              
$$ |  $$ |$$$$$$\   $$$$$$$\  
$$$$$$$\ |\_$$  _|  $$  __$$\ 
$$  __$$\   $$ |    $$ |  $$ |
$$ |  $$ |  $$ |$$\ $$ |  $$ |
$$$$$$$  |  \$$$$  |$$ |  $$ |
\_______/    \____/ \__|  \__|
                                                        
Description: Button CSS
***************************************/

.btn-primary {
  background-color: var(--text-primary);
  color: var(--text-white);
  border-color: var(--text-primary);
}

/***************************************
$$\      $$\           $$\           
$$$\    $$$ |          \__|          
$$$$\  $$$$ | $$$$$$\  $$\ $$$$$$$\  
$$\$$\$$ $$ | \____$$\ $$ |$$  __$$\ 
$$ \$$$  $$ | $$$$$$$ |$$ |$$ |  $$ |
$$ |\$  /$$ |$$  __$$ |$$ |$$ |  $$ |
$$ | \_/ $$ |\$$$$$$$ |$$ |$$ |  $$ |
\__|     \__| \_______|\__|\__|  \__|
                                    
Description: Navigation Section CSS
***************************************/
#header .navbar-toggler {
  border: none;
}

#header .navbar-toggler:focus {
  box-shadow: none;
  color: var(--text-primary);
}

#header .navbar-toggler-icon {
  width: unset;
  height: unset;
}

#header .navbar-nav .nav-item .nav-link {
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 500;
}

#header .navbar {
  -webkit-tranistion: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}

#header .navbar-brand img {
  max-width: 210px;
  height: auto;
}

/******************************************
$$\   $$\                                   
$$ |  $$ |                                  
$$ |  $$ | $$$$$$\  $$$$$$\$$$$\   $$$$$$\  
$$$$$$$$ |$$  __$$\ $$  _$$  _$$\ $$  __$$\ 
$$  __$$ |$$ /  $$ |$$ / $$ / $$ |$$$$$$$$ |
$$ |  $$ |$$ |  $$ |$$ | $$ | $$ |$$   ____|
$$ |  $$ |\$$$$$$  |$$ | $$ | $$ |\$$$$$$$\ 
\__|  \__| \______/ \__| \__| \__| \_______|
                                   

Description: Home Section CSS
******************************************/
#home {
  display: flex;
  width: 100%;
  padding: 100px 0 125px;
  background: url('../images/home-bg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#home .home-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  color: var(--text-light-2);
}

#home .home-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 60px;
  /* text-transform: capitalize; */
  line-height: 1.15;
  margin-bottom: 25px;
  color: var(--text-black);
}

#home .home-title span {
  color: var(--text-primary);
}

#home .home-title-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 450px;
  color: var(--text-light-2);
}

#home .learn-more-btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#home .home-img-section img {
  width: 100%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/************************************************************************************
 $$$$$$\                                                              $$\               
$$  __$$\                                                             $$ |              
$$ /  \__| $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\  $$$$$$\ $$$$$$\    $$$$$$\  
$$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ \____$$\\_$$  _|  $$  __$$\ 
$$ |      $$ /  $$ |$$ |  \__|$$ /  $$ |$$ /  $$ |$$ |  \__|$$$$$$$ | $$ |    $$$$$$$$ |
$$ |  $$\ $$ |  $$ |$$ |      $$ |  $$ |$$ |  $$ |$$ |     $$  __$$ | $$ |$$\ $$   ____|
\$$$$$$  |\$$$$$$  |$$ |      $$$$$$$  |\$$$$$$  |$$ |     \$$$$$$$ | \$$$$  |\$$$$$$$\ 
 \______/  \______/ \__|      $$  ____/  \______/ \__|      \_______|  \____/  \_______|
                              $$ |                                                      
                              $$ |                                                      
                              \__|                                                      

Description: Corporate Governance Section
************************************************************************************/

#corporate-governance .governance-title {
  margin-bottom: 100px;
}

#corporate-governance .governance-title h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  line-height: 1.25px;
  margin-bottom: 40px;
  color: var(--text-primary);
  position: relative;
}

#corporate-governance .logo-title {
  line-height: 1.25px;
  color: var(--text-black-2);
}


/*******************************************************
$$$$$$$$\                   $$\                         
$$  _____|                  $$ |                        
$$ |    $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\  
$$$$$\ $$  __$$\ $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\ 
$$  __|$$ /  $$ |$$ /  $$ | $$ |    $$$$$$$$ |$$ |  \__|
$$ |   $$ |  $$ |$$ |  $$ | $$ |$$\ $$   ____|$$ |      
$$ |   \$$$$$$  |\$$$$$$  | \$$$$  |\$$$$$$$\ $$ |      
\__|    \______/  \______/   \____/  \_______|\__|      
                                                        

Description: Footer Section
*******************************************************/
#footer {
  background-color: var(--bg-primary);
  color: var(--text-light-white);
}

#footer .copyright-section {
  background-color: #0e366b;
  color: var(--text-light-white);
}

#footer .footer-link {
  text-decoration: none;
}

#footer .footer-link:hover {
  color: var(--text-white) !important;
  text-decoration: underline;
}

/***********************************************
$$\      $$\                 $$\ $$\           
$$$\    $$$ |                $$ |\__|          
$$$$\  $$$$ | $$$$$$\   $$$$$$$ |$$\  $$$$$$\  
$$\$$\$$ $$ |$$  __$$\ $$  __$$ |$$ | \____$$\ 
$$ \$$$  $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |
$$ |\$  /$$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |
$$ | \_/ $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |
\__|     \__| \_______| \_______|\__| \_______|
                                               
                                               
                                   

Description: Media Queries Section CSS
***********************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* Nav Section */
  #header .navbar-nav .nav-item .nav-link:hover,
  #header .navbar-nav .nav-item .nav-link.active {
    text-decoration: underline;
  }

  /* Home Section */
  #home .learn-more-btn-section {
    justify-content: center;
  }

  /* Latest News Section */
  #latest-news .news-content-section {
    text-align: center;
  }
  
  #latest-news .news-content-section p,
  #latest-news .news-content-section h4 {
    text-align: left;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  /* Nav Section */
  #header .navbar-nav .nav-item .nav-link:hover,
  #header .navbar-nav .nav-item .nav-link.active {
    text-decoration: underline;
  }

  /* Home Section */
  #home .learn-more-btn-section {
    justify-content: left;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {

  /* Nav Section */
  #header .navbar-nav .nav-item .nav-link:hover,
  #header .navbar-nav .nav-item .nav-link.active {
    border-bottom: 3px solid var(--text-secondary);
  }
  
  /* Home Section */
  #home .home-subtitle {
    font-size: 24px;
  }

  

  
}